// Imports
@import './styles/vars';
@import './styles/header';
@import './styles/footer';
@import './styles/index';
@import './styles/popular-poems';
@import './styles/poets';


@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
    font-size: 16px;
    background-color: $color-white;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 30px;
    }  
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 30px;
    }  
}

a {
    text-decoration: none;
}

