@import './vars';

.search-input {
   background-color: transparent;
   border: 1px solid rgba(122, 118, 118, 0.85);
   margin: 24px auto 30px auto;
}


 #paginated-list {
    position: relative;
}
 

.hidden {
    display: none;
  }

.pagination-container {
    display: flex;
    align-items: center;
    position:absolute;
    left: 500px;
    transform: translate(300px, 0);
    justify-content: center;
}

.pagination-number{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: $color-blue;
}


.pagination-button {
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: #D9D9D9;;
}

.pagination-button img {
    vertical-align: middle;
}

.pagination-number.active {
    color: #fff;
    background: #0085b6;
    border-radius: 50%;
}  