//Font-weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 500;
$fw-bold: 700;


// Colors

$color-blue: rgb(0, 69, 129);
$color-light-blue: #59a9e6;
$color-pale-blue:#E0FBFC;
$color-orange: #F8A324;
$color-light-grey: #D9D9D9;
$color-white: #ffffff;

