//Font-weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 500;
$fw-bold: 700;


// Colors

$color-blue: #004581;
$color-light-blue: #5AA9E6;
$color-orange: #F8A324;
$color-light-grey: #D9D9D9;
$color-white: #ffffff;

