@import "./vars";

.category {

    &__inner {
        margin: 100px 0;
    }

    .category-cards {
    &__gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      margin: 0 0 99px 0;
      row-gap: 55px;
    }

  }

  .gallery-card {
    &__inner {
      max-width: 366px;
      display: flex;
      align-items: center;
      gap: 46px;
      margin: 22px auto;
      cursor: pointer;
    }
  }

  .gallery-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .poem-details h4,
  .poem-details p {
    @include details-title;
    line-height: 28px;
    text-align: left;
  }

  .poem-details h4 {
    margin: 0 0 16px 0;
    font-size: 20px;
  }

  .poem-details p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
  }

  .profile-gallery__card-details {
    margin: 0 auto;

    p {
      font-size: 18px;
    }
  }
}


.slider-container {
  height: 100px;
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-top: 60px;

  .btn {
    position: absolute;
    top: calc(50% - 9px);
    height: 15px;
    width: 15px;
    border-left: 2px solid #5f96ce;
    border-top: 2px solid #5f96ce;
    cursor: pointer;
  }
  
  .btn.inactive {
    border-color: $color-light-grey;
  }
  
  .btn:first-of-type {
    transform: rotate(-45deg);
    left: 8px
  }
  
  .btn:last-of-type {
    transform: rotate(135deg);
    right: 8px;
  }

}

.slider {
  display: flex;
  align-items: center;
  width: 1000%;
  height: 100%; 
  transition: all .5s;

  .slide-btn {
    height: 80%;
    margin: auto 10px;
    padding: 0px 35px;
    background: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    font-family: "Bitter";
    font-style: normal;
    font-weight: $fw-semiBold;
    font-size: 16px;
    line-height: 19px;
    color: $color-blue;
    cursor: pointer;
  }

  .slide-btn.active {
  background-color: $color-light-grey;
 }
}


@media (max-width: 1024px) {
  .category {
    &__inner {
        margin: 80px 0;
    }

    .btns-list {
      &__item {
        padding: 12px 14px;
        font-weight: $fw-semiBold;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .gallery-card img {
      width: 118px;
      height: 118px;
    }

    .poem-details h4 {
      margin: 0 0 5px 0;
      font-size: 16px;
    }

    .poem-details p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .slider {
    .slide-btn {
      height: 80%;
      padding: 0px 35px;
      font-size: 14px;
    }
  }
}

@media (max-width: 900px) {
  .slider {
    .slide-btn {
      height: 80%;
      padding: 0px 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
    .category {

        &__inner {
            margin: 60px 0;
        }

        .category-cards {
            &__gallery {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 70px 35px;
              margin: 60px 0 99px 0;
            }
        }
     }
}

@media (max-width: 600px) {
  .slider {
    .slide-btn {
      height: 80%;
      padding: 0px 20px;
      font-size: 14px;
    }
  }
}


@media (max-width: 475px) {
    .category {
        .gallery-card {
            &__inner {
                max-width: 189px;
                gap: 23px;
            }
        } 

        .gallery-card img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .poem-details h4 {
            margin: 0 0 0px 0;
            font-size: 14px;
          }
      
        .poem-details p {
        font-size: 12px;
        }
   
      }
}