@import "./vars";

.category {

    &__inner {
        margin: 100px 0;
    } 

    .btns-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      font-family: 'Bitter';
      font-weight: 600;
      line-height: 19px;
      color: #004581;
      text-align: center;
      margin: 60px 0;

      &__item {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: #004581;
        padding: 8px 15px;
        border: 1px solid #D9D9D9;
        border-radius: 15px;
        margin-left: 15px;
      }

      &__item span {
        font-size: 12px;
      }

      &__item.active {
        background-color: $color-light-grey;
      }
    }

    .category-cards {
    &__gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      margin: 0 0 99px 0;
      row-gap: 55px;
    }

  }

  .gallery-card {
    &__inner {
      max-width: 366px;
      display: flex;
      align-items: center;
      gap: 46px;
      margin: 22px auto;
      cursor: pointer;
    }
  }

  .gallery-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .poem-details h4,
  .poem-details p {
    @include details-title;
    line-height: 28px;
    text-align: left;
  }

  .poem-details h4 {
    margin: 0 0 16px 0;
    font-size: 20px;
  }

  .poem-details p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
  }

  .profile-gallery__card-details {
    margin: 0 auto;

    p {
      font-size: 18px;
    }
  }
}


@media (max-width: 1024px) {
  .category {
    &__inner {
        margin: 80px 0;
    }

    .gallery-card img {
      width: 118px;
      height: 118px;
    }

    .poem-details h4 {
      margin: 0 0 5px 0;
      font-size: 16px;
    }

    .poem-details p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

@media (max-width: 767px) {
    .category {

        &__inner {
            margin: 60px 0;
        }

        .btns-list {
          row-gap: 15px;
          line-height: 15px;
          margin: 60px 0;
    
          &__item {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            color: #004581;
            padding: 8px 15px;
            margin-left: 15px;
          }
    
          &__item span {
            font-size: 10px;
          }
        }
    

        .category-cards {
            &__gallery {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 70px 35px;
              margin: 60px 0 99px 0;
            }
        }
     }
}


@media (max-width: 475px) {
    .category {
        .gallery-card {
            &__inner {
                max-width: 189px;
                gap: 23px;
            }
        } 

        .gallery-card img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .poem-details h4 {
            margin: 0 0 0px 0;
            font-size: 14px;
          }
      
        .poem-details p {
        font-size: 12px;
        }
   
      }
}