@import './vars';


.topscreen{
    &__wrapper {
        background-image: url('../assets/images/banner-bgk.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.topscreen-inner {
    margin: 0px 0 123px 0;
}


.topscreen-text {
    width:  50%;
    margin: 182px auto 0 0;

    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $color-white;
    }

    .description {
        margin: 63px 0 82px 0;
        font-style: normal;
        font-weight: $fw-semiBold;
        font-size: 20px;
        line-height: 24px;
        color: $color-white;
    }

    .btn {
        @include  button;
    }

    .btn a {
       color: $color-white;
    }
}


@media (max-width: 768px) {
    .topscreen-inner {
        margin: 16px auto 100px auto;
    }
    
    .topscreen__wrapper {
        background-image: url('../assets/images/banner-tablet.png');
        background-repeat: no-repeat;
        background-position: center 0px;  
    }

    .topscreen-text {
        width:  60%;
        margin: 88px auto 0 auto;
    
        .title {
            font-style: normal;
            font-weight: 600;
            line-height: 29px;
            text-align: center;
        }
    
        .description {
            width: 70%;
            margin: 34px auto 50px auto;
            font-size: 16px;
            text-align: center;
        }

        .btn {
            font-size: 14px;
            padding: 10px 30px;
            display: block;
            margin: 0 auto;
        }
    }
}


@media (max-width: 575px) {
  
    .topscreen-text {
        .topscreen-text {
            width:  100%;
        }

        .title {
           font-size: 16px;
           line-height: 20px;
        }

        .description {
            font-size: 12px;
            line-height: 15px;
        }
    
        .btn {
            // width: 100%;
            font-size: 14px;
            line-height: 17px;
            color: $color-white;;
        }
    }
}


@media (max-width: 375px) {
    .topscreen-inner {
        margin: 16px 0 40px 0;
    } 
 
    .topscreen-text {
        width:  100%;
        margin: 54px auto 0 auto;
    
        .title {
            max-width: 55%;
            margin: 0 auto;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
        }
    
        .description {
            max-width: 55%;
            margin: 25px auto 25px auto;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
        }
    
        .btn {
            padding: 5px 93px;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
            border-radius: 2.63px;
        }
    }
}


@media (max-width: 320px) {
    .topscreen-inner {
        margin: 8px 0 27px 0;
    }
    .topscreen__wrapper {
        background-image: url('../assets/images/small-banner.png');
        background-repeat: no-repeat;
        background-position: center 0px;  
    }

    .topscreen-text {
        .btn {
            padding: 5px 93px;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
        }
    }
}


//***  poem section ***//

.poem {
    .poem-inner {
        width: 590px;
        margin: 134px auto 100px auto;
    }


    &__line p , 
    &__author{
        font-family: 'Pacifico', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 42px;
        color: rgba(0, 0, 0, 0.65);
    }

    &__line p {
        position: relative;
        width: 498px;
        margin: 0 auto;
    }

    .tracery{
        content: url('../assets/icons/poem-line-ornament.svg');
        position: absolute;
        top: 800px;
        transform: translate(550px, 0px); 
        width: 316px;
        height: 316px;
    }


    &__author {
        text-align: right;
        padding: 12px 0 0 0;
    }
}

@media (max-width: 1170px) {
    .poem {
        .tracery {
            top: 800px;
            transform: translate(550px, 0px); 
            width: 235px;
            height: 235px;
        }
    }
}

@media (max-width: 1024px) {
    .poem {
        .tracery {
            top: 800px;
            transform: translate(420px, 0px); 
        }
    }
}

@media (max-width: 768px){
    .poem {
       
        .poem-inner {
            width: 296px;
            margin: 89px auto 40px auto;
        }
    
        &__line p , 
        &__author{
            font-size: 14px;
            line-height: 25px;
        }

        &__line p {
            width: 291px;
            margin: 0 auto;
        }

        .tracery {
            top: 614px;
            transform: translate(280px, 0px); 
            width: 150px;
            height: 150px;
        }
    
    }   
}

@media (max-width: 600px) {
    .tracery {
        display: none;
    }
}

@media (max-width: 425px) {
    .poem {

        .poem-inner {
            width: 260px;
            margin: 34px auto 50px auto;
        }
    
        &__line p , 
        &__author{
            font-size: 12px;
            line-height: 21px;
        }

        &__line p {
            width: 250px;
            margin: 0 auto;
        }
    
    }
}

// ** slide-block

.slide {
    background-color: #EFEDE9;
    max-width: 1038px;
    width: 100%;
    margin: 80px auto;
    background: #EFEDE9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px 0px 80px 0px;

    &__inner {
        width: 100%;
        margin: 0px auto; 
    }

    &__tracery {
        content: url('../assets/icons/half-tracery.svg');
        position: absolute;
        rotate: (90deg);
        top: 1315px;
        transform: translate(0px, 64px);
        width: 250px;
    }

}
 
.slide-content {
    margin: 0 73px;
    overflow: hidden;
    padding: 10px 5px 30px 5px;
}

.slide h2 {
    @include section-title;
    color: $color-blue;
    font-size: 24px;
    text-transform: uppercase;
    padding: 50px 0;
}

.card {
    background: #EFEDE9;
    border-radius: 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content {
    padding: 22px 0 25px 0;
}

.card-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-content {
    row-gap: 23px;
    padding: 25px 0 22px 0;
}

.card-content h4 {
    @include details-title;
}

.card-content p {
    @include details-title; 
    font-weight: $fw-regular;
}

.swiper-navBtn {
    color: $color-blue;
    transition: color 0.3s ease;
}
  
.swiper-navBtn:hover {
    color: #59a9e6;
}

.swiper-button-next.swiper-navBtn:after,
.swiper-button-prev.swiper-navBtn:after {
    font-size: 30px;
}

.swiper-button-next.swiper-navBtn {
    top: 45%;
}
  
.swiper-button-prev.swiper-navBtn {
    top: 45%;
  
}

.swiper-pagination.swiper-pagination-bullets.slide-pag {
    bottom: 5px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet  {
    background-color: $color-blue;
}



@media (max-width: 1075px) {
    // .slide {
    //     max-width: 908px;
    // }
    .card-content h4 ,
    .card-content p {
        font-size: 18px;
    }
}


@media (max-width: 840px) {
    .slide{
        &__tracery {
            top: 1360px;
            transform: translate(0px, 64px);
        } 
    } 
}



@media (max-width: 768px){
.slide {
    max-width: 650px;
    width: 100%;
    background-size: 300px 300px;
    background-position: top -73% left -20%;

    &__inner {
        width: 95%;
        margin: 0px auto;
    }

    &__tracery {
        rotate: (180deg);
        top: 953px;
        transform: translate(-20px, 64px);
    } 

}

    .slide-content {
        margin: 0 32px;
        overflow: hidden;
        padding: 10px 5px 30px 5px;
    }

    .slide h2 {
        font-size: 18px;
        padding: 30px 0;
    }

    .card-image {
        height: 118px;
        width: 118px;
    }

    .image-content {
        padding: 18px 0 20px 0;
    }

    .card-content {
        row-gap: 10px;
        padding: 20px 0 30px 0;
    }

    .card-content h4 ,
    .card-content p {
        font-size: 14px;
    }

    .swiper-button-next.swiper-navBtn:after,
    .swiper-button-prev.swiper-navBtn:after {
        font-size: 20px!important;
    }

    .swiper-pagination.swiper-pagination-bullets.slide-pag {
        bottom: 0px!important;
    }
}

@media (max-width: 760px) {
.slide {
    background-image: none;

    max-width: 350px;
    &__inner {
        width: 90%;
        margin: 0px auto;
        
    }

    &__tracery {
        display: none;
    } 
}


}


@media (max-width: 426px) {
.slide {
    max-width: 300px;
    width: 100%;
    margin: 50px auto;
    padding: 30px 0px 30px 0px;
}

.slide h2 {
    font-size: 14px;
    padding: 20px 0;
}

.slide-content {
    padding: 10px 5px 42px 5px;
}

.card-image {
    height: 80px;
    width: 80px;
}

.image-content {
    padding: 28px 0 12px 0;
}

.card-content {
    row-gap: 24px;
    padding: 12px 0 42px 0;
}

.card-content h4 ,
.card-content p {
    font-size: 12px;
}

.swiper-pagination.swiper-pagination-bullets.slide-pag {
    bottom: 20px!important;
}
}

@media (max-width: 350px) {
.slide {
    &__inner {
    width: 100%;
    } 

}
}


//*** section most-read-poem gallery ***//

.popular-poems {
    h2 {
        @include section-title;
        color: $color-blue;
        margin: 0  0 62px 0;
    }

    &__inner {
        margin: 100px 0 122px 0;
      
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        margin: 0 0 99px 0;
    }

    .gallery-card {

        &__inner {
            max-width: 366px;
            display: flex;
            align-items: center;
            gap: 46px;
            margin: 22px auto;
            cursor: pointer;
        }
    } 

    .gallery-card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .poem-details h4,
    .poem-details p  {
        @include  details-title;
        line-height: 28px;
        text-align: left;
    }

    .poem-details h4 {
        margin: 0 0 16px 0;
        font-size: 20px;
    }
        
    .poem-details p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.65);
    }

    &__inner .section-button {  
        // position: relative;
        z-index: 5;
    }

    .btn-block {
        position: relative;
    }

    &__tracery {
        content: url('../assets/icons/half-tracery.svg');
        position: absolute;
        top: 2889px;
        transform: translate(355px, 0px);
    }
}

@media (max-width: 1280px) {
    .popular-poems {
        &__tracery {
          display: none;
        }
    }
}


@media (max-width: 768px) {
    .popular-poems {
        background-size: 300px 300px;
        background-position: top 40% right 55%;
        background-repeat: no-repeat;

        &__inner {
            margin: 80px 0 122px 0;
        }

        h2 {
            font-size: 18px;
            margin: 0  0 53px 0;
        }

        .gallery-card {
            &__inner {
                max-width: 264px;
                gap: 18px;
            }
        } 

        .poem-details h4 {
            font-size: 14px;
            line-height: 17px;
        }

        .poem-details p {
            font-size: 12px;
        }

        &__gallery {
            margin: 0 0 59px 0;
        }

        .gallery-card img {
            width: 118px;
            height: 118px;
        }

        &__tracery {
          display: none;
        }

    }

}

@media (max-width: 660px) {
    .popular-poems {
        &__inner {
            margin: 80px 0 71px 0;
        }

        &__gallery {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 0 60px 0;            
        } 
        
        &__tracery {
            display: none;
        }

    }
}




@media (max-width: 426px) {
    .popular-poems {
        background-size: 250px 250px;
        background-position: top 40% right -60%;
    
        h2 {
            font-size: 14px;
            margin: 0  0 30px 0;
        }

         .gallery-card img {
            width: 60px;
            height: 60px;
        }  
        
        .gallery-card {
            &__inner {
                max-width: 189px;
                gap: 23px;
            }
        } 

        .poem-details h4 {
            font-size: 12px;
            margin: 0 0 7px 0;
          }

        .poem-details p {
            font-size: 10px;
            line-height: 12px;
        }

    }
}



// *** section button ***//
.section-button {
    @include button;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.section-button a {
   color: $color-white;
}

@media (max-width: 768px) {
    .section-button {
        font-size: 14px;
        line-height: 17px;
        padding: 13px 28px;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .section-button {
      width: 100%;
      font-size: 12px;
      line-height: 14px;
      padding: 5px 28px;
      border-radius: 2.63px;
    }
}

