@import './vars';

.poem-block {
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__inner {
       width: 80%;
       margin: 0 auto;
    }

    h4 {
        @include section-title;
        color: $color-blue;
        text-transform: capitalize;
    }

    h4:nth-last-child(2) {
        margin: 28px 0px 50px 0px;
    }

    pre {
         @include details-title;
        font-weight: $fw-regular;
        color: $color-blue;
        font-size: 20px;
        line-height: 40px;
        text-transform:normal;
        text-align: left;
        display: flex;
        justify-content: center;
        // margin-top: 100px;
    }
}



@media (max-width: 768px) {
    .poem-block {
        h4 {
            font-size: 22px;
        }

        pre {
            font-size: 18px;
            line-height: 30px;
        }
    }

}

@media (max-width: 600px) {
    .poem-block {
        h4 {
            font-size: 16px;
        }

        pre {
            font-size: 14px;
            line-height: 25px;
        }
    }

}