@import './vars';

.popular-poems-page {

    &__tracery1 {
        position: absolute;
        top: -50px;
        right: 100px;
    }

    &__tracery2 {
        position: absolute;
        bottom: -240px;
        left: 300px;
    }
}

.search-input {
   background-color: transparent;
   border: 1px solid rgba(122, 118, 118, 0.85);
   margin: 24px auto 0px auto;
}

@media (max-width: 768px) {

    .popular-poems-page {
        position: relative;
    
        &__tracery1 {
            width: 280px;
            height: 280px;
            position: absolute;
            top: -20px;
            right: -110px;
        }
    
        &__tracery2 {
            width: 280px;
            height: 280px;
            position: absolute;
            bottom: -120px;
            left: 30px;
        }
    }

}


@media (max-width: 425px) {
    .popular-poems-page {
 
        &__tracery1 {
            width: 168px;
            height: 168px;
            position: absolute;
            top: 43px;
            right: 0px;
        }
    
        &__tracery2 {
            width: 168px;
            height: 168px;
            position: absolute;
            bottom: -120px;
            left: 30px;
        }
    }
}